<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">

    <div class="text-center mt-4">
      <h2 class="title m-0">Welcome back</h2>
      <h4 class="body-3 text-dark m-0">Sign in with your credentials below.</h4>
    </div>

    <div [formGroup]="login_form" class="p-6" fxLayout="column" fxLayoutGap="16px">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow" appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input formControlName="email" minlength = "10" maxlength = "100" required pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" matInput required>
          <mat-error ng-message-exp = "['required', 'minlength', 'maxlength']">We need an email address to log you in</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="grow" appearance="outline">
          <mat-label>Password</mat-label>
          <input [type]="inputType" formControlName="password" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-error >We need a password to log you in</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-checkbox class="caption" color="primary">Remember Me</mat-checkbox>
        <a class="caption">Forgot Password?</a>
      </div>

      <button [disabled]="login_form.status == 'INVALID'" (click)="login()" color="primary" mat-raised-button type="button">
        SIGN IN
      </button>

      <p class="text-dark text-center fs1">
        Don't have an account?<br/>
        <button color="primary" mat-button type="submit">Click here to create one</button>
      </p>
    </div>
  </div>
</div>
