<vex-page-layout>
  <vex-page-layout-header fxLayout="column" fxLayoutAlign="center start">
    <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">Email</h1>
        <vex-breadcrumbs [crumbs]="[ 'Email']"></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="">
    <div class="div">
    <div class="bg-app-bar p-2 my-1 border-b">
      <h4 >
        <span class="title">To:</span> <span>{{To}}</span>
      </h4>
    </div>
    <div class="bg-app-bar  p-2 my-1 border-b" >
      <h4>
        <span class="title">BCC:</span> <span>{{Bcc}}</span>
      </h4>
    </div>
    <div class="bg-app-bar p-2 my-1 border-b" >
      <h4>
        <span class="title">Subject:</span> <span>{{Subject}}</span>
      </h4>
    </div>
    <div class="bg-app-bar p-2 my-1 border-b" >
      <h4 >
        {{Email_Body}}
      </h4>
    </div>
  </div>
  </vex-page-layout-content>
</vex-page-layout>